</body>

<footer>
  <section class="board">
    <div id="image1" class="board-space">Hello1</div>
    <div id="image2" class="board-space">Hello2</div>
    <div id="image3" class="board-space">Hello3</div>
    <div id="image4" class="board-space">Hello4</div>
  </section>
</footer>

</html>
