</body>

<footer>
  <section class="board">
    <div id="image1" class="board-space"></div>
    <div id="image2" class="board-space"></div>
    <div id="image3" class="board-space"></div>
    <div id="image4" class="board-space"></div>
    <div id="image5" class="board-space"></div>
    <div id="image6" class="board-space"></div>
    <div id="image7" class="board-space"></div>
    <div id="image8" class="board-space"></div>
  </section>
</footer>

</html>
